<section>
    <div>
        <h1>{{wallpapers.1.title}}</h1>
        <img src="{{wallpapers.1.wallpaper_url}}" alt="{{wallpapers.1.title}}" class="img-fluid rounded">
    </div>
    <div>
        <h1>{{wallpapers.2.title}}</h1>
        <img src="{{wallpapers.2.wallpaper_url}}" alt="{{wallpapers.2.title}}" class="img-fluid rounded">
    </div>
</section>