    <div>
        <h1>{{slicedWallpapers.0.title}}</h1>
        <img src="{{slicedWallpapers.0.wallpaper_url}}" alt="{{slicedWallpapers.0.title}}" class="img-fluid rounded shadow-lg mb-5">
    </div>
    <div>
        <h1>{{slicedWallpapers.1.title}}</h1>
        <img src="{{slicedWallpapers.1.wallpaper_url}}" alt="{{slicedWallpapers.1.title}}" class="img-fluid rounded shadow-lg mb-5">
    </div>
