<section>
    {{#each slicedWallpapers}}
        <div>
            <h1>{{title}}</h1>
            <img class="wallpaper" src="{{wallpaper_url}}" alt="{{title}}">
            <p>Author:{{user.username}}          Score:{{elo_score}}</p>
        </div>
    {{/each}}
</section>