<section>
{{#if loggedIn}}
    <div>
            <h1>Profile</h1>
            <h3>{{profile.username}}</h3>
            <form class="wallpaper-submit">
        <div>
            <label for="wallpaper-url">Please attach the link of your favorite wallpaper: </label>
            <input type="url" id="wallpaper-url" />
        </div>
        <div>
            <label for="wallpaper-title">Please enter a title for your wallpaper:</label>
            <input type="text" id="wallpaper-title" />
        </div>
        <div>
            <button type="submit" >submit</button>
        </div>
        </form>
    </div>
    <div>
        <h1>Your Wallpaper:</h1>
        {{#if loggedIn}}
        {{#each wallpapers}}
        <h3>{{title}}</h3>
        <img src="{{wallpaper_url}}" alt="{{title}}">
        {{/each}}
        {{/if}}
        
    </div>
{{else}}
<h1>Please log in to your account to see your profile!</h1>
<a href="/login">Sign up</a>
{{/if}}   
</section>

<script src="/js/profile.js"></script>