<section class="row">
    <h1 class="text-center">Pick the best wallpaper!</h1>
    <div class="col-md-6 col-12 p-5 text-center">
     <input type="image" id="picture1" class="wallpaper img-fluid rounded shadow-lg mb-5" data-id="{{voteImgs.0.id}}" data-elo_score="{{voteImgs.0.elo_score}}" src="{{voteImgs.0.wallpaper_url}}" alt="{{voteImgs.0.title}}">
    </div>
    <div class="col-md-6 col-12 p-5 text-center">
     <input type="image" id="picture2" class="wallpaper img-fluid rounded shadow-lg mb-5" data-id="{{voteImgs.1.id}}" data-elo_score="{{voteImgs.1.elo_score}}" src="{{voteImgs.1.wallpaper_url}}" alt="{{voteImgs.1.title}}">
    </div>
</section>

<script src="/js/vote.js"></script>